body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border: 3px solid green;
    min-height: 720px;
}

.container {
    
}

h1 {
    text-align: center;
    font-size: 80px;  
}
a{
    display: inline-block;
}

.account_category{
    float: right;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}
.container h2,h3{
    font-size: 15px;
}
.btm_image{
    background: white;
    width:200px;
    height:200px;
    cursor: pointer;
}
.size{
    width: 150px;
    height: 150px;
}
#img_btn{
    width: 180px;
    height: 180px
}