{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
</head>
<div class="container">
    <br><br>
    <h1>로그인</h1>
    <form action="{%url 'login' %}" method="POST">
        {% csrf_token %}
        <div class='menus'>유저이름</div>
        <input type="text" name="username"class="input-class">
        <br><br>
        <div class='menus'>비밀번호</div>
        <input type="password" name="password"class="input-class">
        <br>
        <br>
        <a href="{% url 'home' %}"><button class='btn-center'>돌아가기</button></a>
        <input type="submit" class="btn2" value='로그인'>
    </form>    
</div>